button {
  background: none;
  border: none;
  padding: 0;
  margin: 0; }
  button:focus {
    outline: none; }

* {
  color: #EEE;
  font-family: sans-serif; }

body {
  background-color: #EEE; }

.circle {
  margin: auto;
  margin-top: 160px; }
  .circle .quadrant {
    border: 8px solid #222; }
  .circle .control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222;
    border: 8px solid #222; }
    .circle .control .panel {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-around;
      width: 100%; }
      .circle .control .panel .latchPair {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .circle .control .panel .latchPair .latch {
          width: 2em;
          height: 2em;
          border-radius: 50%;
          border: solid 2px #EEE;
          background-color: #b30000;
          margin: 0.5em 0; }
        .circle .control .panel .latchPair .latched {
          background-color: #ff3333; }
      .circle .control .panel p {
        width: 2em;
        text-align: center;
        font-size: 2em;
        margin: 0;
        margin-bottom: 0.5em; }

.circle {
  display: flex;
  flex-flow: row wrap;
  width: 532px;
  height: 532px; }
  .circle .quadrant {
    width: 250px;
    height: 250px; }
  .circle .green {
    background-color: #00b300; }
  .circle .red {
    background-color: #b30000; }
  .circle .blue {
    background-color: #0000b3; }
  .circle .yellow {
    background-color: #b3b300; }
  .circle .green.down {
    background-color: #33ff33; }
  .circle .red.down {
    background-color: #ff3333; }
  .circle .blue.down {
    background-color: #3333ff; }
  .circle .yellow.down {
    background-color: #ffff33; }
  .circle .top-left {
    border-top-left-radius: 250px; }
  .circle .top-right {
    border-top-right-radius: 250px; }
  .circle .bottom-left {
    border-bottom-left-radius: 250px; }
  .circle .bottom-right {
    border-bottom-right-radius: 250px; }
  .circle .control {
    width: 281.25px;
    height: 281.25px;
    border-radius: 50%;
    position: relative;
    top: -398.625px;
    right: -101.375px;
    z-index: 1; }
