$circle-diam: 500px;
$control-diam: $circle-diam*(9/16);
$circle-border: 8px;

$control-color: #222;
$border-color: #222;
$font-color: #EEE;

$circle-red: hsla(360, 100%, 35%, 1);
$circle-blue: hsla(240, 100%, 35%, 1);
$circle-yellow: hsla(60, 100%, 35%, 1);
$circle-green: hsla(120, 100%, 35%, 1);

$circle-red-down: hsla(360, 100%, 60%, 1);
$circle-blue-down: hsla(240, 100%, 60%, 1);
$circle-yellow-down: hsla(60, 100%, 60%, 1);
$circle-green-down: hsla(120, 100%, 60%, 1);

button {
    background: none;
    border: none;
    padding: 0; margin: 0;
    &:focus {
        outline: none;
    }
}

* {
    color: $font-color;
    font-family: sans-serif;
}
body {
    background-color: $font-color;
}

.circle {
    margin: auto;
    margin-top: 160px;

    .quadrant {
        border:$circle-border solid $border-color;
    }
    .control {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $control-color;
        border:$circle-border solid $border-color; 
        .panel {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-around;
            width: 100%;
            .latchPair {
                display: flex;
                flex-direction: column;
                align-items: center;
                .latch {
                    width: 2em; height: 2em;
                    border-radius: 50%;
                    border: solid 2px $font-color;
                    background-color: $circle-red;
                    margin: 0.5em 0;
                }
                .latched {
                    background-color: $circle-red-down;
                }
            }
            p {
                width: 2em;
                text-align: center;
                font-size: 2em;
                margin: 0;
                margin-bottom: 0.5em;
            }
        }
    }
}

//Circle Configuration NO TOUCHIE!
.circle {
    display: flex;
    flex-flow: row wrap;
    width: $circle-diam + $circle-border*4; height: $circle-diam + $circle-border*4;
    .quadrant {
        width: $circle-diam/2; height: $circle-diam/2;
    }
    .green {  
        background-color: $circle-green;
    }
    .red {
        background-color: $circle-red;
    }
    .blue{ 
        background-color: $circle-blue;
    }
    .yellow {
        background-color: $circle-yellow;
    }
    .green.down {
        background-color: $circle-green-down;
    }
    .red.down {
        background-color: $circle-red-down;
    }
    .blue.down {
        background-color: $circle-blue-down;
    }
    .yellow.down {
        background-color: $circle-yellow-down;
    }
    .top-left { border-top-left-radius: $circle-diam/2; }
    .top-right { border-top-right-radius: $circle-diam/2; }
    .bottom-left { border-bottom-left-radius: $circle-diam/2; }
    .bottom-right { border-bottom-right-radius: $circle-diam/2; }
    .control {
        width: $control-diam; height: $control-diam;
        border-radius: 50%;
        position: relative; 
        top: -1*($circle-diam/2 + $control-diam/2 + $circle-border); 
        right: -1*($circle-diam/2 - $control-diam/2 - $circle-border);
        z-index: 1;
    }
}
